@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;

}


header{
    height: 20%;
    background-color: transparent;
}

nav{
    width: 20%;
}

a:hover {
    text-decoration: none !important;
}

.logo{
    padding-top: 15px;
    font-size: 1.5rem;
    color: white;
    position: fixed;
}


.home{
    width: 100%;
    height: 100vh !important;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cf{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main-text{
    font-size: 6rem;
    color: white;
}

.menu{
    list-style: none;
}

li{
    color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: right;

}

a{
    color: white;
}

a:hover{
    color: white;
}

.scroll{
    width: 5%;
    position: relative;
    bottom: 0%;
    left: 50%;
}



@keyframes gbounce { 
    0% { transform: translateY(0); }
    30% { transform: translateY(-20px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(0); }
  }

  .gbounce {
    animation: gbounce 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

  .about{
      width: 100%;
      height: 100vh;
      background-color: #3A3C39;
  }

.title-about{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.about-col{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}

.about-text{
    font-size: 1.1rem;
    color: white;
}

.logo-skills{
    width: 3.5rem;
}

.avatar{
    width: 100%;
    height: auto;
    padding-top: 2rem;
}


@media screen and (max-width: 1366px){
    .home{
        width: 100%;
        height: 100vh !important;
        background-image: url("../assets/background-1366.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-text{
        font-size: 5rem;
        color: white;
        margin-top: 8rem;
    }
    .menu-main{
        list-style: none;
        margin-top: 8rem;
    }


    .social a img{
        width: 2rem;
    }


}